<div class="flex flex-col p-5">
    @if (book) {
        <div class="flex mt-3 mb-5 justify-between">
            <a class="btn btn-primary" routerLink="/books">Back</a>

            @if (!isBookFavorite) {
                <button class="btn btn-warning" (click)="addToFavorites(book)">Add to favorites</button>
            } @else {
                <button class="btn btn-error" (click)="removeFromFavorites(book.isbn)">Remove from favorites</button>
            }

        </div>


        <div class="text-2xl font-bold">{{ book.name }}</div>

        <div class="pt-10 font-bold">Basic info</div>
        <table class="table">
            <tbody>
                <tr>
                    <td>ISBN</td>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <td>Number of pages</td>
                    <td>{{ book.numberOfPages }}</td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td>{{ book.publisher }}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{ book.country }}</td>
                </tr>
                <tr>
                    <td>Mediatype</td>
                    <td>{{ book.mediaType}}</td>
                </tr>
                <tr>
                    <td>Released</td>
                    <td>{{ book.released }}</td>
                </tr>
            </tbody>
        </table>

        <div class="pt-10 font-bold">Characters</div>
        <table class="table">
            <tbody>
                @for (character of book.characters; track character) {
                    <tr>
                        <td class="underline cursor-pointer" (click)="openLinkInNewTab(character)">{{ character }}</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pt-10 font-bold">POV Characters</div>
        <table class="table">
            <tbody>
                @for (character of book.povCharacters; track character) {
                <tr>
                    <td class="underline cursor-pointer" (click)="openLinkInNewTab(character)">{{ character }}</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>