<div class="bg-base-300">

    <div class="flex justify-between">
        <span class="text-2xl ml-4 pb-3">All books</span>

        <a class="btn btn-warning mr-4 w-33" routerLink="/favorites">See favorites</a>
    </div>
    
    <div class="flex flex-wrap gap-5 justify-center py-5 ">
        @if (books$ | async; as books) {
                
            @for (book of books; track $index) {
                <app-book-component 
                    class="cursor-pointer"
                    [routerLink]="getBookIndex(book.isbn)"
                    [book]="book"
                ></app-book-component>
            }
        }
    </div>
</div>
